<div class="app-fab--absolute dropup">
<button class="md-button md-fab" data-toggle="dropdown" aria-label="Edit">
  <span class="md-fab__icon">
    <span class="fa fa-plus"></span>
  </span>
</button>
<div class="dropdown-menu dropdown-left">
	<a href="#" class="btn btn-block">
		.bib hinzufügen
	</a>
	<a href="#" class="btn btn-block">
		Kennung hinzufügen
	</a>
	<a href="#" class="btn btn-block">
		Manuel hinzufügen
	</a>
</div>
</div>
			</div>
		</div>
	</body>
</html>