<% include ../partials/head %>
	<div class="container">
		<div id="firstlvl" class="row">
			<div class="col col-sm-12">
				<div class="image-heading"></div>
			</div>	
		</div>
		<div class="row">
			<div class="col col-sm-12">
				<div class="image">
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="col col-sm-6">
				<div class="card row-spaced">
					<div class="row">
						<div class="col col-sm-2 text-center">Icon</div>
						<div class="col col-sm-10">
							<h3 class="card-heading">Literaturrecherche</h3>Dein persönlicher Assisstent, der dir passende &amp; zuverlässige Quellen empfiehlt
						</div>
					</div>
				</div>
			</div>
			<div class="col col-sm-6">
				<div class="card row-spaced">
					<div class="row">
						<div class="col col-sm-2 text-center">Icon</div>
						<div class="col col-sm-10">
							<h3 class="card-heading">Literaturverwaltung</h3>Alle deine Quellen an einem Ort
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="col col-sm-6">
				<div class="card row-spaced">
					<div class="row">
						<div class="col col-sm-2 text-center">Icon</div>
						<div class="col col-sm-10">
							<h3 class="card-heading">Automatische Fehlersuche</h3>Heißt der Autor Maier, Mair, Mayr, Meyer, Meier oder Mayer? Du weißt es nicht? Wir schon!
						</div>
					</div>
				</div>
			</div>
			<div class="col col-sm-6">
				<div class="card row-spaced">
					<div class="row">
						<div class="col col-sm-2 text-center">Icon</div>
						<div class="col col-sm-10">
							<h3 class="card-heading">Immer verfügbar</h3>Ob im Bus, in der Bahn oder auf einer langweiligen Party, mit auctore hast du deine Quellen immer dabei
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ../partials/foot %>