body {
	margin-bottom: 100px;
}

#pageContainer {
	margin-bottom: 100px;
}

#headRow {
	min-height: 60px;
	display: block;
}

.nav {
	display: block;
}

.navbar-brand {
	position: absolute;
	top: 5px;
	bottom: 5px;
	width: 170px;
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	line-height: 25px;
	height: 45px;
}

.container-fluid, .container {
	margin-left: auto;
	margin-right: auto;
}

.container {
	margin-top: 55px;
}

.icon-first {
	background-image: url('/img/icon-Literaturrecherche-magenta.png');
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.icon-second {
	background-image: url('/img/icon-Literaturverwaltung-magenta.png');
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.icon-third {
	background-image: url('/img/icon-Fehlersuche-magenta.png');
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.icon-fourth {
	background-image: url('/img/icon-Ballons-magenta.png');
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.image {
	background-image: url('/img/library-488677_1920.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto;
	height: 300px;
}

.image-heading {
	background-image: url('/img/Logo-Scherenschnitt-schwarz-800.png');
	max-width: 500px;
	height: 175px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

#firstlvl {
	text-align: center;
}

.card {
	border-radius: 3px;
	-webkit-box-shadow: 7px 7px 5px 3px rgba(0,0,0,.15);
	        box-shadow: 7px 7px 5px 3px rgba(0,0,0,.15);
	padding: 25px;
}

.row-spaced {
	margin-top: 25px;
	min-height: 155px;
}

.card-heading {
	font-weight: 500;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 25px;
}

.login-btn .fa{
	background-color: rgba(255,255,255, 0.3);
}
	
.login-dropdown{
	padding: 10px;
}

.scrollable {
	height: -webkit-fill-available;
	height: -moz-available;
	overflow-y: auto;
}

.scrollable.nospace {
	margin-bottom: 0px;
	margin-top: 0px;
}

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, 
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0px;
	padding-right: 0px;
}
*/
.form-liner{
	width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.add-input {
	cursor: pointer;
}

.input-group .form-control, .input-group-btn{
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
}

.float-right{
	margin-right: 15px;
    position: absolute;
    right: 0px;
}

div.form-control{
	border: none;
	margin-bottom: 1em;
}


.app-fab--absolute.app-fab--absolute.dropup .dropdown-menu{
    right: 0px;
    left: auto;
}

.dropdown-left.dropdown-menu{
    right: 0px;
    left: auto;
}

.app-fab--absolute.app-fab--absolute {
	z-index: 20;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

[type=search]{
	appearance: searchfield;
	width: inherit;
}

[type=search]::placeholder{
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

@media(min-width: 1024px) {
   .app-fab--absolute.app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}