<!DOCTYPE html>
<html>
	<head>
		<% head.forEach(function(line) { %> <%- line %> <% }); %>
		<script>
			window.onload(function() {
				document.getElementById('logout-button').addEventListener("click", function() {	
					<% logout.forEach(function(command) { %> <%- command %>(); <% }); %>
				});
			});
		</script>
	</head>
	<body>
		<% body.forEach(function(line) { %> <%- line %> <% }); %>
		<button id="logout-button" type="button">Logout</button>
	</body>
</html>