<!DOCTYPE html>
<html>
	<head>
		<script src="/js/OAuthWindow.js"></script>
		<% head.forEach(function(line) { %> <%- line %> <% }); %>
		<script>
			window.addEventListener("load", function load(event) {
				window.removeEventListener("load", load, false); // Listener entfernen, da nicht mehr benötigt
				document.getElementById('logout-button').addEventListener("click", function() {	
					<% logout.forEach(function(command) { %> <%= command %>(); <% }); %>
				});
			}, false);
		</script>
		<script>
			var git = new OAuthWindow({
				windowName: "GitHub Authorization",
				path: "http://github.com/login/oauth/authorize",
				setKeys: {
					client_id: "a1055aafb6dce6dc457b",
					redirect_uri: "https://litter-indign-eschewal.cfapps.eu10.hana.ondemand.com/auth/github"
				},
				stateKey: "state"
			});
		</script>
	</head>
	<body>
		<% body.forEach(function(line) { %> <%- line %> <% }); %>
		<button id="logout-button" type="button">Logout</button>
	</body>
</html>